.sidebar {
  width: 250px !important;
  font-weight: 500;
}

.logo_image {
  width: 130px;
}

.navbar {
  height: 65px;
}

.mainbar {
  background-color: rgb(244, 242, 247);
}

.btn {
  font-size: 14px !important;
}

.menu-icon,
.menu-icon i {
  font-size: 14px;
}

.form-label {
  font-size: 14px;
  font-weight: 500;
}

th {
  font-size: 14px;
  font-weight: 500;
}

td {
  font-size: 14px;
}

.scroll-bar::-webkit-scrollbar {
  width: 2px; /* Thinner scrollbar */
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: rgba(72, 49, 77, 0.342); /* Light color */
 
}

.item-title, .loan-title{
  position: absolute;
  top: -12px;
  left: 9px;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
}

.form-control, .form-select{
  font-size: 13px !important;
  height: 35px;
}

.itmlst th{
  border-bottom: none !important;
  background-color: rgba(80, 77, 77, 0.73) !important; 
}

.custom-hover {
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/* .custom-hover:hover {
  background-color: #444b50 !important; 
  color: white !important;
} */

.payment{
  font-size: 14px;
}

.printContent span{
  font-size: 14px;
  margin-top: 5px;
}


/* .printContent td{
  border: none;
} */